<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MECH DEPT</title>
    <link rel="stylesheet" href="https://dl.dropbox.com/s/i4cfbnhzpssw4pr/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet" /> -->

    <style>
    /* Style the input field */
    #myInput{
      padding: 50px;
      margin-top: -20px;
      border: 0;
      border-radius: 0;
      background: #f1f1f1;
    } 

     @media screen and (min-width: 676px) {
        .modal-dialog  {
          max-width: 1000px; /* New width for default modal */
        }
    }
    </style>
</head>

<body>
 
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" >
        <div class="container">
  

            <a class="navbar-brand logo" href="#">
                <img src="https://dl.dropbox.com/s/bz40gbg1sn8ilkc/innovLogo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            INNOVEX
            </a>

            <button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav">
                <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link " href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="itdept">IT</a></li>
                    <li class="nav-item"><a class="nav-link" href="compsdept">COMPS</a></li>
                    <li class="nav-item"><a class="nav-link" href="extcdept">EXTC</a></li>
                    <li class="nav-item"><a class="nav-link active" style="border-bottom: 5px solid #000;" href="mechdept">MECH</a></li>
                    <li class="nav-item"><a class="btn btn-dark" role="button" href="#">Login</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <br>
    

     <div class="row">
      <div class="col">
        <h1 class="font-weight-bold">MECHANICAL DEPARTMENT</h1>
      </div>

      <div class="col-right" style="padding-right: 30px;padding-top: 10px;  ">
        <div class="dropdown">
          <button id="1" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Project Domain
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a id="d1" href="#" onclick="filter(document.getElementById('d1').innerHTML);">All</a></li>
            <li><a id="d2" href="#" onclick="filter(document.getElementById('d2').innerHTML);">Product Development</a></li>
            <li><a id="d3" href="#" onclick="filter(document.getElementById('d3').innerHTML);">Research</a></li>
            <li><a id="d4" href="#" onclick="filter(document.getElementById('d4').innerHTML);">Env. Sustainability</a></li>
          </ul>
        </div>
      </div>
    </div>

    <script>
      function filter(p){
        l=["Product Development","Research","Env. Sustainability"]
        var i=0;
        for (i = 0; i < l.length; i++){
                  console.log(l[i]);
                  document.getElementById(l[i]).style.display="none";
            }
          if(p=="All")
          {
            for (i = 0; i < l.length; i++){
                document.getElementById(l[i]).style.display="block";
              }
          }
          else{
            document.getElementById(p).style.display="block";
          }
    }
    </script>

<!-- =============================== category 1======================== -->
<div id="Product Development">

    <hr style="height:3px;border-width:0;background-color:#000">
      <h5 class="font-weight-bold">PRODUCT DEVELOPMENT</h5>
    <div class="row">
      <div class="col-lg-3" data-toggle="modal" data-target="#bd-example-modal-lg">
        <div class="card mb-3">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p>
            <p class="card-text"><small class="text-muted">Pratik Nerurkar, Calden Rodrigues, John Anand</small></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card mb-3">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p>
            <p class="card-text"><small class="text-muted">Pratik Nerurkar, Calden Rodrigues, John Anand</small></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card mb-3">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p>
            <p class="card-text"><small class="text-muted">Pratik Nerurkar, Calden Rodrigues, John Anand</small></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card mb-3">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p>
            <p class="card-text"><small class="text-muted">Pratik Nerurkar, Calden Rodrigues, John Anand</small></p>
          </div>
        </div>
      </div>
    </div>

</div>
<!-- =============================== category 2======================== -->

<div id="Research">

    <hr style="height:3px;border-width:0;background-color:#000">
      <h5 class="font-weight-bold">RESEARCH BASED</h5>
    <div class="row">
      <div class="col-lg-3">
        <div class="card mb-3">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p>
            <p class="card-text"><small class="text-muted">Pratik Nerurkar, Calden Rodrigues, John Anand</small></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card mb-3">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p>
            <p class="card-text"><small class="text-muted">Pratik Nerurkar, Calden Rodrigues, John Anand</small></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card mb-3">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p>
            <p class="card-text"><small class="text-muted">Pratik Nerurkar, Calden Rodrigues, John Anand</small></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card mb-3">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p>
            <p class="card-text"><small class="text-muted">Pratik Nerurkar, Calden Rodrigues, John Anand</small></p>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- =============================== category 3======================== -->

<div id="Env. Sustainability">

    <hr style="height:3px;border-width:0;background-color:#000">
      <h5 class="font-weight-bold">ENVIRONMENT SUSTAINABILITY</h5>
    <div class="row">
      <div class="col-lg-3">
        <div class="card mb-3">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p>
            <p class="card-text"><small class="text-muted">Pratik Nerurkar, Calden Rodrigues, John Anand</small></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card mb-3">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p>
            <p class="card-text"><small class="text-muted">Pratik Nerurkar, Calden Rodrigues, John Anand</small></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card mb-3">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p>
            <p class="card-text"><small class="text-muted">Pratik Nerurkar, Calden Rodrigues, John Anand</small></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card mb-3">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p>
            <p class="card-text"><small class="text-muted">Pratik Nerurkar, Calden Rodrigues, John Anand</small></p>
          </div>
        </div>
      </div>
    </div>
<br>
<br>
<br>
</div>


<!-- ========================================== Pop 1 =========================================== -->
  <div class="modal fade bd-example-modal-lg" id="bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- modal content goes here -->
        <div class="container" style="padding: 10px;">
          <div class="row">
            <div class="col-lg-5">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
              </div>
            </div>
            
            <div class="col-lg-7">
              <center><h5 class="card-title">Single Image Super Resolution</h5></center>
              <p class="card-text1"><strong class="text bg-primary text-white">&nbsp;RESEARCH BASED&nbsp;</strong></p>
              <p class="card-text"><strong class="text-muted"><i class="bi bi-linkedin"></i>&nbsp;Chaitanyakrishna &nbsp;|&nbsp; Kyle Lobo &nbsp;| &nbsp;Rohan James </strong></p>
              <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                  accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                  quae. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                  accusantium doloremque laudantium, totam rem aperiam,
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
              </p>
              <button type="button" class="btn btn-dark btn-sm">Technical aspects</button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="button" class="btn btn-primary btn-sm">Give your feedback</button>
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div>

<!-- ===================================== Footer ======================================== -->

    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="#">About me</a><a href="#">Contact me</a><a href="#">Projects</a></div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script type="text/javascript">
      $(".datepicker").each((function(){new Pikaday({field:this})}));
    </script>
</body>

</html>