<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EXTC DEPT</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZKS4J96H6V"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZKS4J96H6V');
    </script>
    <link rel="stylesheet" href="https://dl.dropbox.com/s/i4cfbnhzpssw4pr/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>
    /* Style the input field */
    #myInput{
      padding: 50px;
      margin-top: -20px;
      border: 0;
      border-radius: 0;
      background: #f1f1f1;
    } 

    @media screen and (min-width: 676px) {
        .modal-dialog  {
          max-width: 1000px; /* New width for default modal */
        }
    }
    </style>

</head>

<body>
    <!-- navbar navbar-expand-lg navbar-light bg-light -->
    <!-- navbar navbar-expand-lg fixed-top navbar-light bg-light ======main -->
    <!-- navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient ==== og -->
    <!-- navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient -->
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" >
        <div class="container">
            <!-- <a class="navbar-brand logo" href="#">Brand</a> -->

            <a class="navbar-brand logo" href="#"> 
                <img src="https://dl.dropbox.com/s/o89s3r0howppzea/dbitlogo.png" width="50" height="50" class="d-inline-block align-top" alt="">
          
            </a>
            <div class="vl" style="height: 45px; border-left: solid black;"></div>&nbsp;&nbsp;&nbsp;
            <a class="navbar-brand logo" href="#">
                <img src="https://dl.dropbox.com/s/bz40gbg1sn8ilkc/innovLogo.png" width="40" height="40" class="d-inline-block align-top" alt="">
            INNOVEX
            </a>

            <button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav">
                <i class="fa fa-bars fa-2x"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link " href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="itdept">IT</a></li>
                    <li class="nav-item"><a class="nav-link" href="compsdept">COMPS</a></li>
                    <li class="nav-item"><a class="nav-link active" style="border-bottom: 5px solid #000;" href="extcdept">EXTC</a></li>
                    <li class="nav-item"><a class="nav-link" href="mechdept">MECH</a></li>
                    <!-- <li class="nav-item"><a class="btn btn-dark" role="button" href="#">Login</a></li> -->

                </ul>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <br>
    

    <div class="row">
      <div class="col-md">
        <h1 class="font-weight-bold">EXTC DEPARTMENT</h1>
      </div>

      <div class="col-md-2" style="padding-right: 30px;padding-top: 10px;  ">
        <div class="dropdown">
          <button id="1" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Project Domain
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a id="d1" href="#" onclick="filter(document.getElementById('d1').innerHTML);">All</a></li>
            <li><a id="d2" href="#" onclick="filter(document.getElementById('d2').innerHTML);">Product Development</a></li>
            <li><a id="d3" href="#" onclick="filter(document.getElementById('d3').innerHTML);">Research</a></li>
            <li><a id="d4" href="#" onclick="filter(document.getElementById('d4').innerHTML);">Env. Sustainability</a></li>
          </ul>
        </div>
      </div>
    </div>

    <script>
      function filter(p){
        l=["Product Development","Research","Env. Sustainability"]
        var i=0;
        for (i = 0; i < l.length; i++){
                  console.log(l[i]);
                  document.getElementById(l[i]).style.display="none";
            }
          if(p=="All")
          {
            for (i = 0; i < l.length; i++){
                document.getElementById(l[i]).style.display="block";
              }
          }
          else{
            document.getElementById(p).style.display="block";
          }
    }
    </script>

<!-- =============================== category 1======================== -->
<div id="Product Development">
    <hr style="height:3px;border-width:0;background-color:#000">
      <h5 class="font-weight-bold">PRODUCT DEVELOPMENT</h5>
    <div class="row">
      <!-- <div class="col-lg-3" data-toggle="modal" data-target="#bd-example-modal-lg">
        <div class="card mb-3">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p>
            <p class="card-text"><small class="text-muted">Pratik Nerurkar, Calden Rodrigues, John Anand</small></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card mb-3">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p>
            <p class="card-text"><small class="text-muted">Pratik Nerurkar, Calden Rodrigues, John Anand</small></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card mb-3">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p>
            <p class="card-text"><small class="text-muted">Pratik Nerurkar, Calden Rodrigues, John Anand</small></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card mb-3">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p>
            <p class="card-text"><small class="text-muted">Pratik Nerurkar, Calden Rodrigues, John Anand</small></p>
          </div>
        </div>
      </div> -->
      <!-- dynamic rendering -->
      {% for d_pd in dataextc_pd %}
      <div class="col-lg-3">
          <div class="card mb-3" data-toggle="modal" data-target="#proj{{ d_pd.proj_id }}">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ d_pd.proj_title }}</h5>
              <!-- <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p> -->
              <p class="card-text"><small class="text-muted">{{ d_pd.mem1_name }} | {{ d_pd.mem2_name }} | {{ d_pd.mem3_name }}</small></p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
</div>
<!-- =============================== category 2======================== -->
<div id="Research">
    <hr style="height:3px;border-width:0;background-color:#000">
      <h5 class="font-weight-bold">RESEARCH BASED</h5>
    <div class="row">
      <!-- <div class="col-lg-3">
        <div class="card mb-3">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p>
            <p class="card-text"><small class="text-muted">Pratik Nerurkar, Calden Rodrigues, John Anand</small></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card mb-3">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p>
            <p class="card-text"><small class="text-muted">Pratik Nerurkar, Calden Rodrigues, John Anand</small></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card mb-3">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p>
            <p class="card-text"><small class="text-muted">Pratik Nerurkar, Calden Rodrigues, John Anand</small></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card mb-3">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p>
            <p class="card-text"><small class="text-muted">Pratik Nerurkar, Calden Rodrigues, John Anand</small></p>
          </div>
        </div>
      </div> -->
      <!-- dynamic rendering -->
      {% for d_rb in dataextc_rb %}
      <div class="col-lg-3">
          <div class="card mb-3" data-toggle="modal" data-target="#proj{{ d_rb.proj_id }}">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ d_rb.proj_title }}</h5>
              <!-- <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p> -->
              <p class="card-text"><small class="text-muted">{{ d_rb.mem1_name }} | {{ d_rb.mem2_name }} | {{ d_rb.mem3_name }}</small></p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
</div>
<!-- =============================== category 3======================== -->
<div id="Env. Sustainability">
    <hr style="height:3px;border-width:0;background-color:#000">
      <h5 class="font-weight-bold">ENVIRONMENT SUSTAINABILITY</h5>
    <div class="row">
      <!-- <div class="col-lg-3">
        <div class="card mb-3">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p>
            <p class="card-text"><small class="text-muted">Pratik Nerurkar, Calden Rodrigues, John Anand</small></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card mb-3">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p>
            <p class="card-text"><small class="text-muted">Pratik Nerurkar, Calden Rodrigues, John Anand</small></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card mb-3">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p>
            <p class="card-text"><small class="text-muted">Pratik Nerurkar, Calden Rodrigues, John Anand</small></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card mb-3">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p>
            <p class="card-text"><small class="text-muted">Pratik Nerurkar, Calden Rodrigues, John Anand</small></p>
          </div>
        </div>
      </div> -->
      <!-- dynamic rendering -->
      {% for d_env in dataextc_env %}
      <div class="col-lg-3">
          <div class="card mb-3" data-toggle="modal" data-target="#proj{{ d_env.proj_id }}">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ d_env.proj_title }}</h5>
              <!-- <p class="card-text-bold">Traffic Signal Duration Control Using Deep Learning.</p> -->
              <p class="card-text"><small class="text-muted">{{ d_env.mem1_name }} | {{ d_env.mem2_name }} | {{ d_env.mem3_name }}</small></p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
<br>
<br>
<br>
</div>



<!-- ========================================== Pop 1 =========================================== -->
  {% for d in dataextc %}
  <div class="modal fade bd-example-modal-lg" id="proj{{ d.proj_id }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- modal content goes here -->
        <div class="container" style="padding: 10px;">
          <div class="row">
            <div class="col-lg-7">
              <div class="embed-responsive embed-responsive-16by9">
                {% if d.youtube_link|length > 5 %}
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{d.youtube_link|slice:'17:'}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% else %}
                <iframe class="embed-responsive-item" src="{{d.drive_link|slice:':66'}}preview" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% endif %}
              </div>
            </div>
            
            <div class="col-lg-5">
              <center><h3 class="card-title">{{ d.proj_title }}</h3></center>
              <p style="font-size: 15px;" class="card-text1"><strong class="text bg-primary text-white">&nbsp;{{ d.proj_category }}&nbsp;</strong></p>
              <p class="card-text"><strong class="text-muted"><i class="fa fa-linkedin-square"></i>&nbsp;<a href="{{d.mem1_linkedin}}" target="_blank">{{ d.mem1_name }}</a> &nbsp;|&nbsp; <a href="{{d.mem2_linkedin}}" target="_blank">{{ d.mem2_name }}</a> &nbsp;| &nbsp;<a href="{{d.mem3_linkedin}}" target="_blank">{{ d.mem3_name }}</a> </strong></p>
              <p class="card-text">{{ d.proj_description }}
              </p>
              <div class="row">&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-dark btn-sm col-6">Technical aspects</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <!-- <button type="button" class="btn btn-primary btn-sm col-5" data-toggle="collapse" data-target="#demo">Give your feedback</button> -->
              </div>
            </div>
          </div>

          <!-- feedback accordion -->
          <br>
          <div id="demo"  style="background-color: #e0ebeb">
            <br>
            <center><h3>Feedback</h3></center>
            <br>
            <form method="post"> {% csrf_token %}
              <input type="hidden" name="for_proj" value="{{d.proj_title}}" >
              <div class="row">
                <div class="col-lg-5">
                  <center><h5>What is your overall rating for the project: </h5></center>
                </div>
                <div class="col-lg-7">
                  <div class="form-group" style="padding-right:10px;padding-left:10px; " >
                    <select class="form-control" id="exampleFormControlSelect1" name="rating"  >
                      <option value="1">Poor</option>
                      <option value="2">Average</option>
                      <option value="3">Good</option>
                      <option value="4">Very good</option>
                      <option value="5">Excellent</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-5">
                  <center><h5>Your comments: </h5></center>
                </div>
                <div class="col-lg-7 ">
                  <div class="form-group" style="padding: 10px;">
                    <textarea  class="form-control" id="exampleFormControlTextarea1" rows="3" name="comments"></textarea>
                  </div>
                </div>
              </div>
      
              <center><button type="submit" class="btn btn-primary">Submit</button></center>
              <br>

            </form>
          </div>
          <!-- feedback end -->

        </div>
        <!-- modal content end -->
      </div>
    </div>
  </div>
  {% endfor %}


  <!-- ===================================== Footer ======================================== -->

</div>
    <footer class="page-footer">
        <div class="container">
            <!-- <div class="links"><a href="#">About me</a><a href="#">Contact me</a><a href="#">Projects</a></div> -->
            <div class="font-weight-bold">Connect with us</div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-youtube"></i></a><a href="#"><i class="icon ion-social-linkedin"></i></a></div>

            <div class="font-weight-bold" style="font-size: 15px;">Don Bosco Institute Of Technology, Premier Automobiles Road, Opp. HDIL Premier Exotica,
Kurla (W), Mumbai. Maharashtra – 400070</div>
            <div class="font-weight-bold" style="font-size: 15px;">&copy;2021 DBIT. All Rights Reserved.</div>
            <div class="font-weight-bold">Designed and developed by<a href="#" style="color: blue">Innovex Website Team</a></div>


        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script type="text/javascript">
      $(".datepicker").each((function(){new Pikaday({field:this})}));
    </script>
</body>

</html>