{% load socialaccount %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>INNOVEX 2021</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZKS4J96H6V"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZKS4J96H6V');
    </script>
    <link rel="stylesheet" href="https://dl.dropbox.com/s/i4cfbnhzpssw4pr/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>


    <!-- navbar navbar-expand-lg navbar-light bg-light -->
    <!-- navbar navbar-expand-lg fixed-top navbar-light bg-light ======main -->
    <!-- navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient ==== og -->
    <!-- navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient -->
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top portfolio-navbar gradient" >
        <div class="container">
            <!-- <a class="navbar-brand logo" href="#">Brand</a> -->

            <a class="navbar-brand logo" href="#"> 
                <img src="https://dl.dropbox.com/s/o89s3r0howppzea/dbitlogo.png" width="50" height="50" class="d-inline-block align-top" alt="">
          
            </a>
            <div class="vl" style="height: 45px; border-left: solid black;"></div>&nbsp;&nbsp;&nbsp;
            <a class="navbar-brand logo" href="#">
                <img src="https://dl.dropbox.com/s/bz40gbg1sn8ilkc/innovLogo.png" width="40" height="40" class="d-inline-block align-top" alt="">
            INNOVEX
            </a>
              

            <button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav">
               <i class="fa fa-bars fa-2x"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" style="border-bottom: 5px solid #000;" href="/">Home</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="itdept">IT</a></li>
                    <li class="nav-item"><a class="nav-link" href="compsdept">COMPS</a></li>
                    <li class="nav-item"><a class="nav-link" href="extcdept">EXTC</a></li>
                    <li class="nav-item"><a class="nav-link" href="mechdept">MECH</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% provider_login_url 'google' %}?next=/editdata">IT</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% provider_login_url 'google' %}?next=/editdata">COMPS</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% provider_login_url 'google' %}?next=/editdata">EXTC</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% provider_login_url 'google' %}?next=/editdata">MECH</a></li>
                    {% endif %}

                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                         {{ user.username }}
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/logout" >Logout</a></li>
                      </ul>
                    </li>
                    {% else %}
                      <li class="nav-item"><a class="btn btn-dark" role="button"  href="{% provider_login_url 'google' %}?next=/editdata">Login</a></li>
                    {% endif %}

                    <!-- {% if user.is_authenticated %}
                      <li class="nav-item"><p>Hello, {{ user.username }}</p></li>
                    {% else %}
                      <li class="nav-item"><a class="btn btn-dark" role="button"  href="{% provider_login_url 'google' %}">Login</a></li>
                      
                    {% endif %} -->
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <br>
    
    
  
    
    <!-- ========================= Carousal bootstrap ====================== -->
    
    <!-- <div class="container Carousal" style="">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div> -->

    <!-- ========================================================== -->

    <!-- ========================= 3d  Carousal  ====================== -->

    <section id="slider">
      <input type="radio" name="slider" id="s1">
      <input type="radio" name="slider" id="s2">
      <input type="radio" name="slider" id="s3" checked>
      <input type="radio" name="slider" id="s4">
      <input type="radio" name="slider" id="s5">
      <label for="s1" id="slide1">
        <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" height="100%" width="100%">
      </label>
      <label for="s2" id="slide2">
            <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" height="100%" width="100%">
      </label>
      <label for="s3" id="slide3">
            <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" height="100%" width="100%">
      </label>
      <label for="s4" id="slide4">
            <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" height="100%" width="100%">
      </label>
      <label for="s5" id="slide5">
            <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" height="100%" width="100%">
      </label>
    </section>

    <!-- =================================================================== -->

    <!-- ======================== INNOVEX 2021 =========================== -->
    <div class="container" >
        <h2 class="text-center font-weight-bold"> INNOVEX 2021</h2>
        <h5 class="text-center">BE Final year exhibition - DBIT's vision of producing employable engineers who can​ ideate and design solutions for problems relevant to both the society and industry.</h5>
        

    </div>
    <br>
  

    <!-- ======================== About =========================== -->


    <section class="portfolio-block website gradient">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-5">
                    <center><img class="img-fluid" src="https://dl.dropbox.com/s/bz40gbg1sn8ilkc/innovLogo.png"></center>
                </div>
                <div class="col-md-12 col-lg-5 offset-lg-1 text">
                    <h3><center>What is INNOVEX?</center></h3>
                    <p><center>Innovex is a platform for the students to showcase their year long effort and help in encouraging
open-ended discussions and deliberations for improving the scope of the project. It also
encourages the students to pitch their ideas & solutions in front of the judges from the Industry,
Academia and Alumni.</center></p>
                </div>
                
            </div>
        </div>
    </section>

    <!-- ====================================================== -->
    <br>
    <br>
    <br>
    <!-- ======================== About =========================== -->
  <div class="container">
      <br>
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="https://dl.dropbox.com/s/6urd6sh1488m680/Principal.png" alt="Card image cap">
            <div class="card-body">
             
              <br> 
              <center><h4 class="card-title-bold">Dr. Prasanna Nambiar</h4></center>
              <center><h4 class="card-title-bold">Principal</h4></center>
              <br>
              <center><h6>Their views about innovex</h6></center>


            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://dl.dropbox.com/s/dq5xobrkdwxjzah/ExecutiveDirector.png" alt="Card image cap">
            <div class="card-body">
              <br>
              <center><h4 class="card-title-bold">Fr. Mario Vaz</h4></center>
              <center><h4 class="card-title-bold">Executive Director</h4></center>
              
              <br>
              <center><h6>Their views about innovex</h6></center>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src=" https://dl.dropbox.com/s/xjrlzeccjxionek/Cleata_innovexCoordinator.png" alt="Card image cap">
            <div class="card-body">
              <br>
              <center><h4 class="card-title-bold">Ms. Cleta A. Pereira</h4></center>
              <center><h4 class="card-title-bold">Innovex Co-ordinator</h4></center>
              <br>
              <center><h6>Their views about innovex</h6></center>
            </div>
          </div>

         
        </div>

        <br>
        <br>
        <br>


 <div class="container">
      <center><h1>Our Departments</h1></center>
      <br>
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
            <div class="card-body">
              <center><h4 class="card-title-bold">
                
                  <a target="_blank" href="http://it.dbit.in/" class="stretched-link" style="text-decoration: none;color: black;">Information Technology Department</a> 
                
                 
                
              </h4></center>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
            <div class="card-body">
              <center><h4 class="card-title-bold">
                
                  <a target="_blank" href="https://comps.dbit.in/" class="stretched-link" style="text-decoration: none;color: black;">Computer Science Department</a> 
                
                  
              
              </h4></center>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
            <div class="card-body">
              <center><h4 class="card-title-bold">
                
                  <a target="_blank" href="https://extc.dbit.in/" class="stretched-link" style="text-decoration: none;color: black;">Electronics And Telecommunication Department</a> 
                
              
              </h4></center>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
            <div class="card-body">
              <center><h4 class="card-title-bold">
                
                  <a target="_blank" href="https://mech.dbit.in/" class="stretched-link" style="text-decoration: none;color: black;">Mechanical Department</a> 
                
                  
            
              </h4></center>
            </div>
          </div>
        </div>
    </div>





<br>
<br>
<br>


    <div class="container">
      <center><h1>Winners Of Innovex 2020</h1></center>
      <br>
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="https://dl.dropbox.com/s/jg05ejzsr68lwl1/Comps.png" alt="Card image cap">
            <br>
            <div class="card-body">
              <center><h4 class="card-title-bold">Computer Science Department</h4></center>
              <br>
              <br>
               
                <h5><b>Team Members</b></h5>
              <ol>
                <li>Vignesh S.</li>
                <li>Aditya P.</li>
                <li>Ram D.</li>
              </ol>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://dl.dropbox.com/s/c19imgils0scv2v/IT.png" alt="Card image cap">
            <br>
            <div class="card-body">
              <center><h4 class="card-title-bold">Information Technology Department</h4></center>
              <br>
              <br>
               
                <h5><b>Team Members</b></h5>
              <ol>
                <li>Pratik Nerurkar</li>
                <li>Calden Rodrigue</li>
                <li>JohnAnand B.</li>
              </ol>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://dl.dropbox.com/s/6n2z04tgrm050ig/extc.png" alt="Card image cap">
            <br>
            <div class="card-body">
              <center><h4 class="card-title-bold">Electronics And Telecommunication Department</h4></center>
              <br>
                <h5><b>Team Members</b></h5>
              <ol>
                <li>Amish</li>
                <li>Kshitij</li>
                <li>Abhijeet</li>
              </ol>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="https://dl.dropbox.com/s/h2ux13bmpgsukpy/Mech.png" alt="Card image cap">
            <br>
            <div class="card-body">
              <center><h4 class="card-title-bold">Mechanical Department</h4></center>
              <br>
              <br>
              <br>
                <h5><b>Team Members</b></h5>
              <ol>
                <li>Amish</li>
                <li>Kshitij</li>
                <li>Abhijeet</li>
              </ol>
            </div>
          </div>

        </div>
    </div>


   

    <!-- ================================ Footer =========================== -->
<br>
<br>
<br>


    <footer class="page-footer">
        <div class="container">
            <!-- <div class="links"><a href="#">About me</a><a href="#">Contact me</a><a href="#">Projects</a></div> -->
            <div class="font-weight-bold">Connect with us</div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-youtube"></i></a><a href="#"><i class="icon ion-social-linkedin"></i></a></div>

            <div class="font-weight-bold" style="font-size: 15px;">Don Bosco Institute Of Technology, Premier Automobiles Road, Opp. HDIL Premier Exotica,
Kurla (W), Mumbai. Maharashtra – 400070</div>
            <div class="font-weight-bold" style="font-size: 15px;">&copy;2021 DBIT. All Rights Reserved.</div>
            <div class="font-weight-bold">Designed and developed by<a href="#" style="color: blue">Innovex Website Team</a></div>


        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script type="text/javascript">
      $(".datepicker").each((function(){new Pikaday({field:this})}));
    </script>
</body>

</html>